page-donated {
	* {
		color: white;
	}

	.backdrop {
		background-color: rgba(0, 0, 0, 0.8)
	}

	.center {
		width: 50%;
		height: 50%;
		position: absolute;
		top: 25%;
		left: 25%;
		color: white;
	}

	#close-button {
		background-color: rgba(0, 0, 0, 0);
	}

	#donate-button, #donate-button * {
		color: black !important;
		border-radius: 0 !important;
	}
}
