page-results {
  .ion-navbar {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
  }

  ion-header {
    height: 12%;
    background-color: map-get($colors, primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }

  ion-header ion-icon {
    font-size: 3rem;
    color: white;
  }

  #givistry-logo {
    width: 50%;
  }

  .npo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
  }

  .npo-icon {
    width: 30%;
  }

  .info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  ion-footer {
	height: 8%;
    background-color: #758EA7;
  }

  #current {
	background-color: #CECE00;
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #758EA7;
    color: white;
  }
}
