page-home {
  ion-header {
    height: 29%;
  }

  .header-bg {
    background-color: map-get($colors, primary);
  }

  ion-footer {
	height: 8%;
    background-color: #758EA7;
  }

  #current {
	background-color: #CECE00;
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #758EA7;
    color: white;
  }

  .theme {
    width: 33%;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .horizontal-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  .hbar {
    height: 1px;
    border: 1px solid black;
    width: 25%;
  }
}
