page-home {
  .content {
    padding: 0 5%;
  }

  .horizontal-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .quantity-select {
    width: 50%;
  }

  .horizontal-group button {
    width: 40%;
  }

  .donation-img {
    height: 200px;
  }

  .donation-content {
    border-bottom: 1px solid gray;
    padding: 5px 0;
  }
}
