<ion-header>
  <ion-navbar>
    <ion-title>
      503cME
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="../assets/imgs/st-anthony-school.jpg" alt="St Anthony">
  <div class="content">
    <h3 id="nponame">St. Anthony Lower Elementary School</h3>
    <h6 id="npoplace">Milwaukee, WI</h6>
    <ion-icon [name]="showDetails ? 'arrow-up' : 'arrow-down'" style="float: right; margin: 0 20px; font-size: 30px;" item-right (click)="toggleDetails(d)"></ion-icon>
    <div text-wrap class="item item-divider" style="width:100%;">
      <div *ngIf="showDetails">
        <p>{{data.summary}}</p>
        <br />
        <p>{{data.address}}</p>
        <p>{{data.state}}</p>
        <p>Phone: {{data.phone}}</p>
        <br />
        <p>{{data.details}}</p>
      </div>
    </div>
    <div class="sep"></div>
    <div class="donation-content">
      <h3>Donation Wishlist (1)</h3>
      <div class="horizontal-center">
        <img class="donation-img" src="../assets/imgs/acer-chromebook.jpeg" alt="Acer Chromebook">
      </div>
      <h3> Acer Chromebook </h3>
      <p>Acer - 11.6" Chromebook - Intel Celeron - 4GB Memory - 16GB eMMC Flash Memory - White</p>
      <h4>$199.99</h4>
      <div class="horizontal-group">
        <ion-item class="quantity-select">
          <ion-label>Quantity</ion-label>
          <ion-select [(ngModel)]="quantity">
            <div *ngFor="let n of quantityOptions">
              <ion-option value="{{n}}">{{n}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <button ion-button (click)="Donate()">Donate</button>
      </div>
      <br />
    </div>
    <div class="donation-content">
      <h3>Donation Wishlist (1)</h3>
      <div class="horizontal-center">
        <img class="donation-img" src="../assets/imgs/acer-chromebook.jpeg" alt="Acer Chromebook">
      </div>
      <h3> Acer Chromebook </h3>
      <p>Acer - 11.6" Chromebook - Intel Celeron - 4GB Memory - 16GB eMMC Flash Memory - White</p>
      <h4>$199.99</h4>
      <div class="horizontal-group">
        <ion-item class="quantity-select">
          <ion-label>Quantity</ion-label>
          <ion-select [(ngModel)]="quantity">
            <div *ngFor="let n of quantityOptions">
              <ion-option value="{{n}}">{{n}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <button ion-button (click)="Donate()">Donate</button>
      </div>
      <br />
    </div>
  </div>
</ion-content>
