<ion-header>
  <ion-navbar>
    <ion-title>
      503cME
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <img src="../assets/imgs/st-anthony-school.jpg" alt="St Anthony">
  <div class="">
    <ion-item no-lines ion-affix style="border-bottom: solid black;"[content]='content'>
      <h3 id="nponame">St. Anthony Lower Elementary School</h3>
      <h6 id="npoplace">Milwaukee, WI</h6>
      <ion-icon [name]="showDetails ? 'ios-arrow-up' : 'ios-arrow-down'" style="float: right; margin: 0 20px; font-size: 30px;" item-right (click)="toggleDetails(d)"></ion-icon>

    <div text-wrap class="item item-divider" style="width:100%;">
      <div *ngIf="showDetails">
        <p>{{data.summary}}</p>
        <br />
        <p>{{data.address}}</p>
        <p>{{data.state}}</p>
        <p>Phone: {{data.phone}}</p>
        <br />
        <p>{{data.details}}</p>
      </div>
    </div>
    </ion-item>
    <div class="content">



    <h3 style="padding-top: 5px;">Donation Wishlist ({{ (donations | async)?.length }})</h3>
    <div class="donation-content" *ngFor="let donation of donations | async">
      <div class="horizontal-center" (click)="Test(donation)">
        <img class="donation-img" src={{donation.image}} alt="{{donation.name}}">
      </div>
      <h3>{{ donation.name }}</h3>
      <p>{{ donation.description }}</p>
      <h4 style="display: inline-block;">{{ donation.price | currency : "USD" : 2 }}</h4>
      <h4 style="display: inline-block;" *ngIf="donation.quantity"> x {{ donation.quantity }} = </h4>
      <h4 style="display: inline-block; font-weight:500;" *ngIf="donation.quantity">{{ donation.quantity * donation.price | currency : "USD" : 2 }}</h4>
      <div class="progress-outer">
        <div class="progress-inner" [style.width]="donation.donatedAmount / donation.requestAmount * 100 + '%'">
        </div>
      </div>
      <div class="donation-info">
        <p>({{ donation.donatedAmount }}) Donated</p>
        <p>({{ donation.requestAmount }}) Requested</p>
      </div>

      <div class="horizontal-group">
        <ion-item class="quantity-select">
          <ion-label>Quantity</ion-label>
          <ion-select [(ngModel)]="donation.quantity">
            <ion-option *ngFor="let n of donationQuantityIterable(donation.donatedAmount, donation.requestAmount)" value="{{n}}">{{n}}</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button (click)="donate(donation.id, donation.donatedAmount, donation.quantity)">Donate</button>
      </div>
      <br />
    </div>
  </div></div>
</ion-content>
